* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(images/travelling.jpg);
  background-image: contain;
  background-size: center;
  background-position: center;
  padding-top: 8%;
  position: relative;
  animation: 20s;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: warp;
  padding: 5px 0;
}
nav .img {
  filter: invert(0);
}
.logo {
  margin: 20px 0 0 15%;
  width: 150px;
  cursor: pointer;
}
.cart-icon {
  width: 0px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  transition: width 0.3s;
}
nav li a:hover::after {
  width: 70%;
}
.text-box {
  color: #fff;
  position: absolute;
  bottom: 8%;
}
.text-box p {
  font-size: 50px;
  font-weight: 600;
}
.text-box h1 {
  font-size: 100px;
  line-height: 160px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(contact/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  text-decoration: none;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.text-box h3 {
  font-size: 40px;
  font-weight: 500;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.text-box a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
}
.text-box a span {
  font-size: 30px;
  line-height: 15px;
  margin-left: 5px;
}
.social-links {
  position: absolute;
  right: 5%;
  bottom: 8%;
}
.social-links img {
  filter: invert(0);
  width: 55px;
  /*display: block;*/
  margin: 25px 5px;
}

h1 {
  font-size: 2.1rem;
  line-height: 1.4;
  letter-spacing: 0.5rem;
  text-align: center;
  color: rgb(68, 14, 68);
  margin-top: 50px;
  text-decoration: underline;
}

.ISKCON {
  width: 60%;
  height: 400px;
  position: relative;
  left: 50%;
  top: 90%;
  margin-top: 15%;
  transform: translate(-50%, -50%);
  background-image: url("iskcon/temple1.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px rgb(50, 23, 201);
  animation: temple 40s infinite linear;
}
@keyframes temple {
  0% {
    background-image: url("iskcon/temple1.jpg");
    background-size: 100% 100%;
  }
  16% {
    background-image: url("iskcon/temple2.jpg");
    background-size: 100% 100%;
  }
  32% {
    background-image: url("iskcon/temple3.jpg");
    background-size: 100% 100%;
  }
  48% {
    background-image: url("iskcon/temple4.jpg");
    background-size: 100% 100%;
  }
  64% {
    background-image: url("iskcon/temple5.jpg");
    background-size: 100% 100%;
  }
}
.iskcon2 {
  width: 40%;
  height: 250px;
  position: relative;
  left: 25%;
  top: 20%;
  margin-top: 5%;
  transform: translate(-50%, -50%);
  background-image: url("iskcon/ga1.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px rgb(246, 246, 246);
  animation: garden 15s infinite linear;
}

@keyframes garden {
  0% {
    background-image: url("iskcon/ga1.jpg");
    background-size: 100% 100%;
  }

  50% {
    background-image: url("iskcon/ga4.jpg");
    background-size: 100% 100%;
  }
}
.iskcon3 {
  height: 400px;
  width: 300px;
  position: relative;
  left: 75%;
  transform: translate(-50%, -100%);
  background-image: url("iskcon/me1.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px rgb(246, 246, 246);
  animation: personal 40s infinite linear;
}
@keyframes personal {
  0% {
    background-image: url("iskcon/me1.jpg");
    background-size: 100% 100%;
  }
  16% {
    background-image: url("iskcon/me2.jpg");
    background-size: 100% 100%;
  }
  32% {
    background-image: url("iskcon/me8.jpg");
    background-size: 100% 100%;
  }
  48% {
    background-image: url("iskcon/me7.jpg");
    background-size: 100% 100%;
  }
  64% {
    background-image: url("iskcon/me9.jpg");
    background-size: 100% 100%;
  }
}
.para p {
  font-size: 30px;
}
